﻿@model Fakturowanie.Models.Adres

@{
    ViewBag.Title = "AdresyCreate";
}

<h2>AdresyCreate</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Adres</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <div class="form-group">
                    @Html.LabelFor(model => model.Ulica, new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Ulica)
                        @Html.ValidationMessageFor(model => model.Ulica)
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Miasto, new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Miasto)
                        @Html.ValidationMessageFor(model => model.Miasto)
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.KodPocztowy, new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.KodPocztowy)
                        @Html.ValidationMessageFor(model => model.KodPocztowy)
                    </div>
                </div>
            </div>
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
