﻿@model IEnumerable<FakturyMVC.Models.Kontrahent>

@{
    ViewBag.Title = "PokarzWszystko";
}

<h2>PokarzWszystko</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NazwaKontrahenta)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nip)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NazwaKontrahenta)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nip)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
