﻿@model IEnumerable<FakturowanieMVC.Models.Kontrahent>
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Fakturowanie MVC</h1>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Dostępne opcje</h2>
        <p>
            <ul>
                <li>@Html.ActionLink("Dodaj kontrahneta", "DodajKontrahenta", "Home", null)</li>
                <li>@Html.ActionLink("Dodaj adres", "DodajAdres", "Home", null)</li>
                <li>@Html.ActionLink("Dodaj towar", "DodajTowar", "Home", null)</li>
            </ul>
        </p>
    </div>
    @*<div class="col-md-4">
        <h2>Aktualni kontrahenci</h2>
        <p>
            <ul>
                @foreach (var k in Model)
                {
                    <li>@k.Nazwa</li>
                    <li>@k.NIP</li>
                }
            </ul>  
        </p>
    </div>*@
   
</div>